<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LOGIntegral.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LOGIntegral.Properties.Settings>
            <setting name="servidor" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="tema" serializeAs="String">
                <value>Visual Studio 2013 Dark</value>
            </setting>
            <setting name="conexion" serializeAs="String">
                <value />
            </setting>
            <setting name="puerto" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="Voz" serializeAs="String">
                <value />
            </setting>
            <setting name="descVoz" serializeAs="String">
                <value />
            </setting>
            <setting name="reproducir" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Enero" serializeAs="String">
                <value />
            </setting>
            <setting name="Febrero" serializeAs="String">
                <value />
            </setting>
            <setting name="Marzo" serializeAs="String">
                <value />
            </setting>
            <setting name="Abril" serializeAs="String">
                <value />
            </setting>
            <setting name="Mayo" serializeAs="String">
                <value />
            </setting>
            <setting name="Junio" serializeAs="String">
                <value />
            </setting>
            <setting name="Julio" serializeAs="String">
                <value />
            </setting>
            <setting name="Agosto" serializeAs="String">
                <value />
            </setting>
            <setting name="Septiembre" serializeAs="String">
                <value />
            </setting>
            <setting name="Octubre" serializeAs="String">
                <value />
            </setting>
            <setting name="Noviembre" serializeAs="String">
                <value />
            </setting>
            <setting name="Diciembre" serializeAs="String">
                <value />
            </setting>
            <setting name="IMGEnero" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGFebrero" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGMarzo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGAbril" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGMayo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGJunio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGJulio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGAgosto" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGSeptiembre" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGOctubre" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGNoviembre" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IMGDiciembre" serializeAs="String">
                <value>0</value>
            </setting>
        </LOGIntegral.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>